h1,h2 {color: #45AB00}
body{ background-color: #000095}
footer{
    border: 2px solid #000000;
    border-width: 50px;
    border-style: ridge;
    margin-right: 1100px;
    p{color: #995000;
    font-size:50px;
    }
}