h1.oui{
    font-family: Calibri ;
    text-align: center;
    padding-top: 10px;
    border: 2px;
    border-width: 5px;
    border-style: ridge;
    height: 50px;
    width: 300px;
    background-color:grey;
    margin-left: auto;
    margin-right: auto;
}

p.oui{
    font-family: Calibri;
    font-size: large;
    border: 2px;
    border-width: 3px;
    border-style: solid;
    width: 80%;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    
}

header.oui{
    border: 2px;
    border-width: 3px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    
}

section.oui{
    border: 2px;
    border-width: 3px;
    border-style: solid;
    margin-top: 5px;
    background-color: darkgrey;
    flex:2;
}

aside{
    border-width: 3px;
    border-style: solid;
    margin-top: 5px;
    background-color: darkgrey;
    margin-left: 5px;
    flex:1;
}

#aside{
    font-size: large;
}

hr.aside{
    width: 550px;
    height: 0px;
    float: left;
}

#photo{
    text-align: center;
}

article{
    font-size:large;
    text-align: left;
    border-width: 2px;
    border-style: solid;
    margin-top: 5px;
    margin-right: auto;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
    width: auto;
    background-color: lightgrey;
    
}


div.test{
    display: flex;
    flex:1;
}

footer{
    font-family: Calibri;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    margin-top: 5px;
    background-color: darkgrey;
}

img{
    justify-content: center;
    border: 5px solid black;
    border-style: ridge;
    border-color: darkgrey;
    height:150px;
    width: auto;
    margin-left: 270px;
}

h2{
    margin-left: 10px;
}

h4{
    padding-left: 20px;
}

#index{
    font-family: Helvetica ;
    text-align: center;
}

hr{
    height: 5px;
    background-color: black;
}